:root {
  --background-color: hsl(220, 13%, 18%);
}

html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  background-color: var(--background-color);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0
}

button {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  cursor: default;
}